@model Wyj.Blog.Blog.Dtos.PostDto
@{
    ViewData["Title"] = "MarkDown";
    Layout = "~/Views/Blog/Shared/_Layout.cshtml";
}

<link href="~/Lib/MarkDown/css/editormd.css" rel="stylesheet" />
<link href="~/Lib/MarkDown/css/editormd.preview.css" rel="stylesheet" />
<script src="~/Lib/MarkDown/js/editormd.js"></script>
<link href="~/Lib/MarkDown/css/Note.css?v=2" rel="stylesheet" />
<script src="~/js/axios.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<style>

    ol li {
        list-style-type: decimal;
        list-style-position: inside;
    }

    ul {
        list-style-type: disc;
    }
</style>
<div id="layout">
    <div style="margin: auto; text-align: center;">
        <a class="btn" asp-controller="Blog" asp-action="Index">返回</a>
        <br />
    </div>
    <br /><br />
<div style="margin: auto; text-align: center;">
    <div id="test-editormd">
        @Html.Raw(Model.Html)
    </div>
</div>
</div>